{{#each @items as |item|}}

  <div class='list-item'>
    <div class='name'>{{item.item_data.name}}</div>
    <div>{{item.item_data.description}}</div>
    <br />
    <ItemVariationList
      @variations={{item.item_data.variations}}
      @onItemClick={{@onItemClick}}
      }}
    />
  </div>

{{/each}}